<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

	<link rel="stylesheet" href="~/Content/reset.css" />
	<link rel="stylesheet" href="~/Content/themes/main/style.css" />

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css' />
	<script src="~/Scripts/jquery-1.8.2.min.js"></script>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Scripts/jquery-validate-fixes.js"></script>
</head>
<body>
	<header>
		<div class="center">
			<a class="logo" href="/Main/MainTest">Tennis Organizer</a>
			<div id="rightNavBar">
				@Html.ActionLink("Profil", "ProfileEdition", "Main", null) |
				@Html.ActionLink("Konto", "AccountEdition", "Main", null) |
				@if(Session["LoggedInPlayer"] != null)
				{
					@Html.ActionLink("Wyloguj (" + (string)Session["LoggedInPlayer"] + ")", "LogOff", "Main", null)
				}
				else
				{
					@Html.ActionLink("Wyloguj", "LogOff", "Main", null)
				}
		</div>
	</div>
	</header>
	<div class="center main-container">
		<div id="top-panel">
			@Html.ActionLink("Profil", "MainTest", "Main", null, new { @class = "top-panel-button" })
			@Html.ActionLink("Wyzwanie", "Challenge", "Main", null,  new  { @class = "top-panel-button"})
			@Html.ActionLink("Trening", "Training", "Main", null, new  { @class = "top-panel-button" })
			@Html.ActionLink("Ranking", "Ranking", "Main", null, new { @class = "top-panel-button" })
			
		</div>
		<div id="left-menu">
			@if ((String)Session["ImagePath"] != null)
   {
	   var imgSrc = @Url.Content("~/Content/Uploads/Thumbnails/")+(string)Session["ImagePath"];
	   <img src="@imgSrc" />
   }
		</div>
		<div id="content">
			@RenderBody()
		</div>

	</div>
	<div id="authors">
		Tennis Organizer by Kacper Sarnacki and Piotr Wcisło
	</div>

	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)
</body>
</html>
