@model TennisOrganizer.MVC.Models.Account

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Home",new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
<ul>
	<li class="text">
		<h1>Graj z nami już teraz!</h1>
	</li>
	<li class="text">
		Tennis Organizer w prosty sposób pozwala na aranżowanie meczy tenisowych
	</li>
	<li>
		@Html.TextBoxFor(a => Model.Login)
		@if (ViewData["LoginNotFound"] != null && (bool)ViewData["LoginNotFound"] == true)
		{
			@Html.Label("Podany login nie istnieje", new { @class = "errorLabel" })
		}
	</li>
	<li>
		@Html.EditorFor(a => Model.Password)
		@if (ViewData["PasswordIncorrect"] != null && (bool)ViewData["PasswordIncorrect"] == true)
		{
			@Html.Label("Złe hasło", new { @class = "errorLabel" })
		}
	</li>
	<li>
		<button type="submit" value="Załóż konto">Zaloguj</button>
	</li>
	<li>
		nie masz konta? @Html.ActionLink("Zarejestruj się!", "Register")
	</li>
</ul>
	
<script>
	$(document).ready(function () {
		$(".login_box").css('height', ($(window).height() + 'px'));
		$(".login_box").hide().fadeIn(1000);
	});

	$(window).resize(function () {
		$(".login_box").css('height', ($(window).height() + 'px'));
	});

</script>
}