@model TennisOrganizer.MVC.Models.RegistrationViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	input[type="text"], input[type="password"]
	{
		width:52%;
	}
	input.birthDay {
		width: 15%;
	}

	input.birthYear {
		width: 20% !important;
	}

	input.birthMonth {
		width: 15%;
	}
</style>
@using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @id = "RegisterForm" }))
{ 
<ul>
	<li>
		@Html.LabelFor(model => model.Login)
	</li>
	<li>
		@Html.TextBoxFor(model => model.Login)
		@Html.ValidationMessageFor(model => model.Login)
		@if (ViewData["LoginAvailability"] != null && (bool)ViewData["LoginAvailability"] == false)
		{
			@Html.Label("Podany login jest zajęty", new { @class = "errorLabel"})
		}
	  
  	</li>
	<li>
		@Html.LabelFor(model => model.Password)
	</li>
	<li>
		@Html.EditorFor(model => model.Password)
		@Html.ValidationMessageFor(model => model.Password)
	</li>
	<li>
	<li>
		@Html.LabelFor(model => model.RepeatedPassword)
	</li>
	<li>
		@Html.EditorFor(model => model.RepeatedPassword)
		@Html.ValidationMessageFor(model => model.RepeatedPassword)
	</li>
	<li>
		@Html.LabelFor(model => model.Player.FirstName)
	</li>
	<li>
		@Html.TextBoxFor(model => model.Player.FirstName)
		@Html.ValidationMessageFor(model => model.Player.FirstName)
	</li>
	<li>
		@Html.LabelFor(model => model.Player.LastName)
	</li>
	<li>
		@Html.TextBoxFor(model => model.Player.LastName)
		@Html.ValidationMessageFor(model => model.Player.LastName)
	</li>
	<li>
		@Html.LabelFor(model => model.Player.BirthDate)
	</li>
	<li>
		@Html.TextBoxFor(model => model.Player.BirthDate, new { @class = "jquery_datepicker" ,@placeholder = "RRRR-MM-DD"})
		@Html.ValidationMessageFor(model => model.Player.BirthDate)
	</li>
	<li>
		@Html.LabelFor(model => model.Player.Email)
	</li>
	<li>
		@Html.TextBoxFor(model => model.Player.Email, new { @class = "validate_email" , @placeholder = "np. jan.kowalski@email.com"})
		@Html.ValidationMessageFor(model => model.Player.Email)
	</li>
	<li>
		@Html.LabelFor(model => model.Player.City)
	</li>
	<li>
		@Html.TextBoxFor(model => model.Player.City)
		@Html.ValidationMessageFor(model => model.Player.City)
	</li>
	<li>
		@Html.LabelFor(model => model.Player.SkillLevel)
	</li>	
	<li>
		@Html.TextBoxFor(model => model.Player.SkillLevel, new { @Value = "0"})
	</li>
	<li>
		<button type="submit" value="Załóż konto">Załóż konto</button>
	</li>
</ul>
}