@model TennisOrganizer.MVC.ViewModels.ChallengeCriteria
@{
    ViewBag.Title = "Challenge";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm()) {
	<table class="statList">
		<tr>
			<td> @Html.LabelFor(m => m.Date) </td>
			<td> 
				@Html.TextBoxFor(m => m.Date)
				@Html.ValidationMessageFor(model => model.Date)
			</td>
		</tr>
		<tr>
			<td> @Html.LabelFor(m => m.Hour) </td>
			<td> 
				@Html.TextBoxFor(m => m.Hour)
				@Html.ValidationMessageFor(model => model.Hour)
			</td>
		</tr>
		<tr>
			<td> @Html.LabelFor(m => m.City) </td>
			<td> @Html.TextBoxFor(m => m.City)</td>
		</tr>
		<tr>
			<td> @Html.LabelFor(m => m.AgeFrom) </td>
			<td> 
				   @Html.TextBoxFor(m=>m.AgeFrom)
			</td>
		</tr>
		<tr>
			<td>
				   @Html.LabelFor(m => m.AgeTo) 
			</td>
			<td> 
				   @Html.TextBoxFor(m => m.AgeTo)
			</td>
		</tr>
		<tr>
			<td> @Html.LabelFor(m => m.LevelFrom) </td>
			<td>
				@Html.TextBoxFor(m => m.LevelFrom)
			</td>
		</tr>
		<tr>
			<td>
				@Html.LabelFor(m => m.LevelTo)
			</td>
			<td>
				@Html.TextBoxFor(m => m.LevelTo)
			</td>
		</tr>
		<tr>
			<td> <button type="submit">Wyzwij!</button> </td>
			<td></td>
		</tr>
	</table>
}

@if (@Model != null && @Model.SuitableOpponents != null)
{
		<table class="disp1">
			<tr>
				<th>LP</th>
				<th>IMIĘ</th>
				<th>NAZWISKO</th>
				<th>WIEK</th>
			</tr>
			@foreach (var player in @Model.SuitableOpponents)
			{
				<tr>
					<td>@player.FirstName</td>
					<td>@player.LastName</td>
					<td>@player.GetAge()</td>
				</tr>
			}
		</table>
		
		using ( Html.BeginForm())
		{
			@Html.LabelFor(m => m.OpponentNumber)
			@Html.TextBoxFor(m => m.OpponentNumber)
			@Html.ValidationMessageFor(model => model.OpponentNumber)
			<button type="submit">Wyzwji!</button>
		}
}