@model TennisOrganizer.MVC.ViewModels.ChallengeCriteria
@{
    ViewBag.Title = "Challenge";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
	form{
		width:48%;
	}
</style>
@using (Html.BeginForm()) {
	
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
	<fieldset>
		<legend>Dane pojedynku</legend>

		<div class="editor-label">
			@Html.LabelFor(m => m.Date)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Date, new { @class = "jquery_datepicker", @placeholder = "RRRR-MM-DD"})
			@Html.ValidationMessageFor(m => m.Date)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.Hour)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Hour, new { @class = "validate_hour", @placeholder = "GG-MM" })
			@Html.ValidationMessageFor(model => model.Hour)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.City)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.City)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.AgeFrom)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.AgeFrom)
		</div>
		<div class="editor-label">
		</div>
			@Html.LabelFor(m => m.AgeTo)
		<div class="editor-field">
			@Html.TextBoxFor(m => m.AgeTo)
		</div>
		<div class="editor-label">
				@Html.LabelFor(m => m.LevelFrom)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.LevelFrom)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.LevelTo)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.LevelTo)
		</div>
			<button type="submit">Szukaj gracza</button>
</fieldset>
}
@using(Html.BeginForm("Challenge", "Main", FormMethod.Post)){

	if (@Model != null && @Model.SuitableOpponents != null)
	{
	
		<table class="disp1">
			<tr>
				<th>LP</th>
				<th>IMIĘ</th>
				<th>NAZWISKO</th>
				<th>WIEK</th>
				<th>MIASTO</th>
			</tr>
				@foreach (var player in @Model.SuitableOpponents)
				{
					<tr>
						<td>
							@Html.HiddenFor(m => @Model.Date) 
							@Html.HiddenFor(m => @Model.Hour)
							@Html.RadioButtonFor(m => m.OpponentNumber, player.AccountId) 
						</td>
						<td>@player.FirstName</td>
						<td>@player.LastName</td>
						<td>@player.GetAge()</td>
						<td>@player.City</td>
					</tr>
				}
			</table>

		<button type="submit">Wyzwji!</button>
	}
}