@model TennisOrganizer.MVC.Models.Player
@{
    ViewBag.Title = "Profil";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*planned*@

<h2>Zaplanowane spotkania</h2>
<table class="disp1">
	<tr>
		<th>PRZECIWNIK</th>
		<th>DATA</th>
	</tr>
	@foreach (var d in @Model.GetNotFinishedDuels())
	{
		<tr>
			<td> @d.Opponent </td>
			<td> @d.Date </td>
		</tr>
	}
</table>

@*finished*@
<h2>Zakończone spotkania</h2>
<table class="disp1">
	<tr>
		<th>PRZECIWNIK</th>	
		<th>DATA</th>
	</tr>
	@foreach (var d in @Model.GetFinished())
	{
		<tr>
			<td> @d.Opponent </td>
			<td> @d.Date </td>
		</tr>
	}
</table>