@model IEnumerable<TennisOrganizer.MVC.ViewModels.PlayerStats>

@{
    ViewBag.Title = "Ranking";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Ranking</h2>


<table>
	<tr>
		<th>POZYCJA</th>
		<th>IMIĘ</th>
		<th>NAZWISKO</th>
		<th>WIEK</th>
		<th>WYGRANE</th>
		<th>PRZEGRANE</th>
		<th>NAJWYŻSZA POZYCJA</th>
	</tr>
	@foreach (var stat in Model)
	{
		<tr>
			<td>@stat.Position</td>
			<td>@stat.FirstName</td>
			<td>@stat.LastName</td>
			<td>@stat.Age</td>
			<td>@stat.won</td>
			<td>@stat.lost</td>
			<td>@stat.TopPosition</td>
		</tr>
	}
</table>
